.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.Rprofile

#logs
logs/*
inst/logs
inst/Results
Results/
inst/Results_jmlr_1
inst/old_results
Results_cmiknn
Results_cmiknn_2knn
Results_cmiknn_1knn
inst/raw_code/
inst/cvae_inference/
inst/brain_and_behavior/figures/*

inst/withdraws_ukb.R
inst/learn_embedding/back_up
inst/learn_embedding/__pycache__
#inst/python/*

# ukb ids and check
inst/learn_embedding/ukb/prep_ukb_id_path_csv.py
inst/learn_embedding/ukb/audit_nifti_orientation_spacing.py

# simple resnet embedding to test network training
inst/learn_embedding/train_simple_resnet.py
inst/learn_embedding/plot_simple_results.py
inst/learn_embedding/generate_synthetic_y.py

# old code
inst/old_code/

# figures
inst/diagnostic_embedding/figures/
inst/diagnostic_embedding/results/

# temporary execution files
inst/simulation_study/sim_ukb_brainmri_*.R

# plots
inst/plots/*.png
inst/plots/*.pdf
inst/plots/test
